body{
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: #414141;
}
#mylogo{
    height: 5%;
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}
#game-board{
    border: 1px solid #414141 ;
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    grid-template-areas: #000000;
    margin: 10px;
}
.game-border-2{
    margin: 5px;
    box-shadow:   -12px 0 0 0 #7100c8,
                 12px 0 0 0 #7100c8,
                 0 -12px 0 0 #7100c8,
                 0 12px 0 0 #7100c8;
}
.game-border-3{
    border: #7100c8 solid 17px;
    box-shadow: inset 0 0 0 10px #bb3bd4;
}
.game-border-3, #logo{
    background-color: #263091;
}
.scores{
    display: flex;
    justify-content: space-between;
}
#score, #highscore{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
#highscore{
    display: none;
}
#score {
    color: #abb78a;
}
.snake{
    background-color: #53b512;
}
.food{
    background-color: #fa3f4f;
}
#instructions{
    position: absolute;
    top: 60%;
    width: 300px;
    color: #b0b78a;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
    z-index: 1;
}
#logo{
    position: absolute;
}
#selfCollision, #wallCollision{
    display: none;
    z-index: 1;
    position: fixed;
    top: 30px;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 25px;
    width: fit-content;
    background-color: #e09dcf;
    padding: 11px 50px 10px 50px;
    margin: auto;
    box-shadow:   -9px 0 0 0 black,
                 9px 0 0 0 black,
                 0 -9px 0 0 black,
                 0 9px 0 0 black;
}